CompileFlags:
  Add:
    - '--target=arm-none-eabi'
    - '-Id:/keil5/ARM/ARMCC/include'
    - '-Id:/keil5/ARM/ARMCC/include/rw'
    - '-Ic:/Users/30495/Desktop/HAL/21.I2C软件模拟读取MPU6050/Drivers'
    - '-Ic:/Users/30495/Desktop/HAL/21.I2C软件模拟读取MPU6050/Drivers/SYSTEM'
    - '-Ic:/Users/30495/Desktop/HAL/21.I2C软件模拟读取MPU6050/Drivers/CMSIS/Include'
    - '-Ic:/Users/30495/Desktop/HAL/21.I2C软件模拟读取MPU6050/Drivers/STM32F1xx_HAL_Driver/Inc'
    - '-Ic:/Users/30495/Desktop/HAL/21.I2C软件模拟读取MPU6050/Drivers/CMSIS/Device/ST/STM32F1xx/Include'
    - '-Ic:/Users/30495/Desktop/HAL/21.I2C软件模拟读取MPU6050/Middlewares'
    - '-Ic:/Users/30495/Desktop/HAL/21.I2C软件模拟读取MPU6050/Users'
    - '-Iprojects/MDK-ARM/D:/keil5/ARM/ARMCC/include'
    - '-DUSE_HAL_DRIVER'
    - '-DSTM32F103xB'
    - '-D__CC_ARM'
    - '-D__arm__'
    - '-D__align(x)='
    - '-D__ALIGNOF__(x)='
    - '-D__alignof__(x)='
    - '-D__asm(x)='
    - '-D__forceinline='
    - '-D__restrict='
    - '-D__global_reg(n)='
    - '-D__inline='
    - '-D__int64=long long'
    - '-D__INTADDR__(expr)=0'
    - '-D__irq='
    - '-D__packed='
    - '-D__pure='
    - '-D__smc(n)='
    - '-D__svc(n)='
    - '-D__svc_indirect(n)='
    - '-D__svc_indirect_r7(n)='
    - '-D__value_in_regs='
    - '-D__weak='
    - '-D__writeonly='
    - '-D__declspec(x)='
    - '-D__attribute__(x)='
    - '-D__nonnull__(x)='
    - '-D__register='
    - '-D__breakpoint(x)='
    - '-D__cdp(x,y,z)='
    - '-D__clrex()='
    - '-D__clz(x)=0U'
    - '-D__current_pc()=0U'
    - '-D__current_sp()=0U'
    - '-D__disable_fiq()='
    - '-D__disable_irq()='
    - '-D__dmb(x)='
    - '-D__dsb(x)='
    - '-D__enable_fiq()='
    - '-D__enable_irq()='
    - '-D__fabs(x)=0.0'
    - '-D__fabsf(x)=0.0f'
    - '-D__force_loads()='
    - '-D__force_stores()='
    - '-D__isb(x)='
    - '-D__ldrex(x)=0U'
    - '-D__ldrexd(x)=0U'
    - '-D__ldrt(x)=0U'
    - '-D__memory_changed()='
    - '-D__nop()='
    - '-D__pld(...)='
    - '-D__pli(...)='
    - '-D__qadd(x,y)=0'
    - '-D__qdbl(x)=0'
    - '-D__qsub(x,y)=0'
    - '-D__rbit(x)=0U'
    - '-D__rev(x)=0U'
    - '-D__return_address()=0U'
    - '-D__ror(x,y)=0U'
    - '-D__schedule_barrier()='
    - '-D__semihost(x,y)=0'
    - '-D__sev()='
    - '-D__sqrt(x)=0.0'
    - '-D__sqrtf(x)=0.0f'
    - '-D__ssat(x,y)=0'
    - '-D__strex(x,y)=0U'
    - '-D__strexd(x,y)=0'
    - '-D__strt(x,y)='
    - '-D__swp(x,y)=0U'
    - '-D__usat(x,y)=0U'
    - '-D__wfe()='
    - '-D__wfi()='
    - '-D__yield()='
    - '-D__vfp_status(x,y)=0'
  Compiler: D:/keil5/ARM/ARMCC/bin/armcc.exe


---
If:
  PathMatch: */CMSIS/.*
Diagnostics:
  Suppress: ["*", undeclared_var_use_suggest]