---
# 基于 LLVM 风格
BasedOnStyle: LLVM

# 缩进
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

# 行宽
ColumnLimit: 200

# 大括号
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false

# 指针/引用对齐方式
DerivePointerAlignment: false
PointerAlignment: Right

# 单行控制语句保持
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false

# 包含块排序
IncludeBlocks: Merge
IncludeCategories:
  # 项目头文件
  - Regex: '^"(bsp|test|app)/.*"'
    Priority: 1
  # 驱动头文件
  - Regex: '^"(DSP2833x|Driver)/.*"'
    Priority: 2
  # 系统头文件
  - Regex: '<.*>'
    Priority: 3
  - Regex: '.*'
    Priority: 4

# 函数参数对齐
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: true
AlignTrailingComments: true

# 空格
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false

# 排序 include
SortIncludes: true

# 其他
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: true
BinPackParameters: true
ConstructorInitializerIndentWidth: 4
IndentCaseLabels: true
IndentPPDirectives: None
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: true
